@charset "UTF-8";
.wrapper {
  width: 1290px;
  margin: 0 auto;
}

/* header-top start */
.header-top {
  background-color: #f2f2f2;
  height: 38px;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
}

.header-top .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0;
}

.fa-phone {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
  padding: 0 5px 0 15px;
}

.top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 470px;
}

.top_menu li {
  padding: 0 20px;
  text-transform: uppercase;
  border-right: 1px solid black;
}

.top_menu li:last-child {
  border-right: none;
  padding-right: 2px;
}

/* header-top end */
.symbol-header-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid #d9bf8f;
  border-radius: 50%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d9bf8f;
}

.symbol-header-soc:hover {
  color: aqua;
  background-color: #8f9e03;
}

/* header-bottom start  */
.header-bottom {
  background-color: #ffffff;
  height: 128px;
  margin: 0 55px;
  position: relative;
}

.header-bottom .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 72px;
  padding: 20px 0 24px;
  font-family: 'KrinkesDecorPERSONAL';
}

.main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 330px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: bold;
}

.main_menu li {
  padding: 46px 20px 64px 20px;
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  /* .social-menu start */
  /* social menu end */
}

.social-menu li {
  margin-top: 33px;
  margin-bottom: 53px;
}

.social-menu .fa-facebook-f, .social-menu .fa-twitter, .social-menu .fa-pinterest, .social-menu .fa-instagram {
  position: absolute;
  font-size: 14px;
}

.social-menu-header li {
  margin-top: 33px;
  margin-bottom: 53px;
}

.social-menu-header li:last-child {
  margin-left: 50px;
}

.drop_lang {
  background-color: black;
  text-transform: uppercase;
  color: white;
  border: none;
  width: 117px;
  height: 34px;
  padding-top: 12px;
  text-align: right;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 5px;
}

.social-menu .drop_lang a {
  color: white;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

.submenu2 {
  position: absolute;
  width: 117px;
  z-index: 10;
  opacity: 0;
  background-color: #242424;
  margin-top: 4px;
  margin-bottom: 4px;
  visibility: hidden;
}

.submenu2 li {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: right;
  padding-right: 5px;
}

li:hover .submenu2 {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.triangl {
  padding-left: 20px;
}

/* header-bottom end */
.footer {
  background-color: #141414;
}

.footer .head {
  color: #ffffff;
  text-transform: uppercase;
}

.footer .head span {
  text-transform: none;
  font-style: italic;
}

.footer .body a {
  color: #737373;
}

.footer-up {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto 530px;
      grid-template-columns: auto auto auto 530px;
  padding: 70px;
}

.footer-up .head {
  padding: 4px 0px 40px;
  font-size: 16px;
}

.footer-up .body p {
  margin: 12px 0px;
}

.footer-up .body p a {
  font-size: 14px;
}

.symbol-footer-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid #d9bf8f;
  border-radius: 50%;
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle-soc {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.symbol-soc {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-up-item4 .social-menu-footer {
  /* .social-menu start */
  /* social menu end */
}

.footer-up-item4 .social-menu-footer .fa-circle {
  font-size: 50px;
}

.footer-up-item4 .social-menu-footer .fa-facebook-f {
  position: absolute;
  font-size: 24px;
}

.footer-up-item4 .social-menu-footer .fa-twitter {
  position: absolute;
  font-size: 24px;
}

.footer-up-item4 .social-menu-footer .fa-pinterest {
  position: absolute;
  font-size: 24px;
}

.footer-up-item4 .social-menu-footer .fa-instagram {
  position: absolute;
  font-size: 24px;
}

.footer-up-item4 .social-menu-footer .fa-rss {
  position: absolute;
  font-size: 24px;
  -webkit-transform: translate(2px, -2px);
          transform: translate(2px, -2px);
}

.footer-up-item4 .social-menu-footer li {
  margin-top: -3px;
  margin-bottom: 30px;
}

.footer-up-item4 .fas {
  color: #ffffff;
}

.footer-up-item4 .fab {
  color: #000000;
}

.footer-up-item4 .fa-rss {
  color: #000000;
}

.footer-up-item4 .email {
  border: 1px solid #484848;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-up-item4 .email input[type=email] {
  background-color: #141414;
  color: #737373;
  border: none;
  padding: 5px;
  font-size: 12px;
}

.footer-up-item4 .email input[type=submit] {
  background-color: #323030;
  color: #ffffff;
  border: none;
}

.footer-down {
  padding: 30px 70px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright p {
  padding-bottom: 30px;
  font-size: 11px;
  font-family: 'Lato', sans-serif;
  color: #363636;
  line-height: 150%;
}

.copyright ul {
  margin-left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright ul li {
  padding: 0 11px;
}

.button-up {
  width: 40px;
  height: 40px;
  background: #000000;
  text-align: center;
  cursor: pointer;
  color: #333;
  font-family: verdana;
  font-size: 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-chevron-up {
  color: #ffffff;
}

@font-face {
  font-family: 'KrinkesDecorPERSONAL';
  src: url(../font/KrinkesDecorPERSONAL.ttf);
}

a {
  text-decoration: none;
  color: black;
}

#slider {
  /*положение слайдера*/
  position: relative;
  text-align: center;
  top: 10px;
}

#slider {
  /*центровка слайдера*/
  margin: 0 auto;
}

.slides article {
  /*все изображения справа друг от доруга*/
  width: 33.3333333%;
  float: left;
}

.slides .image {
  /*устанавливает общий размер блока с изображениями*/
  width: 300%;
  line-height: 0;
  /*анимация пролистывания изображений*/
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

.overflow {
  /*сркывает все, что находится за пределами этого блока*/
  width: 100%;
  overflow: hidden;
}

article img {
  /*размер изображений слайдера*/
  width: 100%;
}

#desktop:checked ~ #slider {
  /*размер всего слайдера*/
  max-width: 1440px;
  /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ .controls label:nth-child(3),
#switch2:checked ~ .controls label:nth-child(1),
#switch3:checked ~ .controls label:nth-child(2) {
  background: url("../img/prev.png") no-repeat;
  /*заливка фона картинкой без повторений*/
  float: left;
  margin: 0 0 0 44px;
  /*сдвиг влево*/
  display: block;
  height: 68px;
  width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ .controls label:nth-child(2),
#switch2:checked ~ .controls label:nth-child(3),
#switch3:checked ~ .controls label:nth-child(1) {
  background: url("../img/next.png") no-repeat;
  /*заливка фона картинкой без повторений*/
  float: right;
  margin: 0 44px 0 0;
  /*сдвиг вправо*/
  display: block;
  height: 68px;
  width: 68px;
}

label, a {
  /*при наведении на стрелки или переключатели - курсор изменится*/
  cursor: pointer;
}

.all input {
  /*скрывает стандартные инпуты (чекбоксы) на странице*/
  display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ .slides .image {
  margin-left: 0;
}

#switch2:checked ~ .slides .image {
  margin-left: -100%;
}

#switch3:checked ~ .slides .image {
  margin-left: -200%;
}

.controls {
  /*положение блока всех управляющих элементов*/
  margin: -25% 10% 0 0;
  width: 100%;
  height: 50px;
}

.active {
  /*расположение блока с переключателями*/
  margin: 16% 0 8% 0;
  text-align: center;
}

.active label {
  /*стиль отдельного переключателя*/
  display: inline-block;
  /*расположение в строку*/
  width: 15px;
  height: 15px;
  background: #bbb;
  margin: 0 5px;
}

.active label:hover {
  /*поведение чекбокса при наведении*/
  background: #000000;
  border-color: #777 !important;
  /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ .active label:nth-child(1),
#switch2:checked ~ .active label:nth-child(2),
#switch3:checked ~ .active label:nth-child(3) {
  background: #000000;
  border-color: #000000 !important;
}

#controls label:hover {
  /*прозрачность стрелок при наведении*/
  opacity: 0.6;
}

#controls label {
  /*прозрачность стрелок при отводе курсора*/
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

/* article start */
.article-top {
  height: 692px;
  background-image: url(../img/bg1.png);
  position: relative;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.arrows {
  position: absolute;
  justify-items: center;
  font-size: 54px;
  color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1350px;
}

.arrows ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
}

.arrows ul li:hover {
  text-shadow: 0 0 15px #ffffff;
  cursor: pointer;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #ffffff;
  padding: 6px;
}

.box {
  width: 260px;
  height: 260px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-size: 59px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 31px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}

h3 span {
  font-size: 23px;
}

.upto {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  color: #ffffff;
  width: 204px;
  text-align: center;
  overflow: hidden;
}

.upto::before, .upto::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  position: relative;
}

.upto span::before, .upto span::after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 28px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 8px;
}

.upto span::before {
  margin-left: 77%;
  left: -14px;
}

.upto span::after {
  margin-right: 77%;
  right: -14px;
}

.upto::before {
  margin-left: -100%;
  left: -14px;
}

.upto::after {
  margin-right: -100%;
  right: -14px;
}

.hr2 {
  position: absolute;
  width: 204px;
  top: 100%;
  font-weight: bold;
}

.shop-now {
  position: absolute;
  left: 50%;
  top: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 189px;
  height: 53px;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #f09d66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shop-now a {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

/*support-start*/
.support-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 32% auto 32%;
      grid-template-columns: 32% auto 32%;
  margin-top: 66px;
  margin-bottom: 66px;
  position: relative;
}

.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group h1 {
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 6px;
}

.group h2 {
  font-size: 14px;
  color: #ffffff;
}

.group .symbol {
  height: 42px;
  width: 42px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.group .text {
  height: 52px;
}

.group1 {
  height: 100px;
  background-color: #d9bf8f;
  position: relative;
}

.group1 .text {
  margin-right: 85px;
}

.group1 .symbol {
  margin-left: 31px;
  background-image: url(../img/plain.png);
}

.group1:after {
  position: absolute;
  width: 0px;
  height: 0px;
  background: #fff;
  content: '';
  bottom: 0;
  right: 0;
  border-top: 50px solid #ffffff;
  border-left: 50px solid #d9bf8f;
  border-bottom: 50px solid #ffffff;
}

.group2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background-color: #000000;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  z-index: 10;
}

.group2 .text {
  margin-right: 50px;
}

.group2 .symbol {
  margin-left: 28px;
  background-image: url(../img/clock.png);
}

.group2:before {
  position: absolute;
  width: 0px;
  height: 0px;
  background: none;
  content: '';
  bottom: 0;
  right: 0;
  margin-right: -50px;
  border-top: 50px solid #000000;
  border-right: 50px solid rgba(1, 1, 1, 0);
  border-bottom: 50px solid #000000;
}

.group2:after {
  position: absolute;
  width: 0px;
  height: 0px;
  background: none;
  content: '';
  bottom: 0;
  left: 0;
  margin-left: -50px;
  border-top: 50px solid #000000;
  border-left: 50px solid rgba(1, 1, 1, 0);
  border-bottom: 50px solid #000000;
}

.group3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  background-color: #d9bf8f;
  position: relative;
}

.group3 .symbol {
  margin-left: 62px;
  background-image: url(../img/support.png);
}

.group3 .text {
  margin-right: 80px;
}

.group3:before {
  position: absolute;
  width: 0px;
  height: 0px;
  background: #fff;
  content: '';
  bottom: 0;
  left: 0;
  border-top: 50px solid #ffffff;
  border-right: 50px solid #d9bf8f;
  border-bottom: 50px solid #ffffff;
}

/*support-start*/
/*collection-start*/
.collections .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hor-line {
  overflow: hidden;
  position: relative;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 30px;
  color: #d9bf8f;
  text-align: center;
  overflow: hidden;
}

.hor-line::before, .hor-line::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: #eaeaea;
  position: relative;
}

.hor-line span {
  margin: 0 30px;
  font-style: italic;
}

.hor-line::before {
  margin-left: -100%;
  left: -45px;
  margin-bottom: 9px;
}

.hor-line::after {
  margin-right: -100%;
  right: -45px;
  margin-bottom: 9px;
}

.photos-border {
  margin-top: 58px;
  margin-bottom: 58px;
  border: 1px solid #eaeaea;
}

.photos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-row-gap: 20px;
}

.photos .photo-item {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photos .photo-item img {
  height: 100%;
}

.photos .photo-item:hover {
  cursor: pointer;
}

.photos .photo-item:hover .photo1 {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.photos .photo-item:hover .heart {
  display: block;
}

.heart {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.symbol-discount {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  left: 16px;
  top: 16px;
  color: #ffffff;
  background-color: #feab12;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  border-radius: 50%;
  z-index: 20;
}

.symbol-discount span {
  font-size: 11px;
}

.to-cart {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 116px;
  color: #ffffff;
  background-color: #000000;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.to-cart:before {
  position: absolute;
  width: 0px;
  height: 0px;
  background: none;
  content: '';
  bottom: 0;
  right: 0;
  margin-right: -44px;
  border-top: 22px solid transparent;
  border-right: 22px solid transparent;
  border-left: 22px solid #000000;
  border-bottom: 22px solid #000000;
}

.to-cart:after {
  position: absolute;
  width: 0px;
  height: 0px;
  background: none;
  content: '';
  bottom: 0;
  left: 0;
  margin-left: -44px;
  border-top: 22px solid transparent;
  border-right: 22px solid #000000;
  border-left: 22px solid transparent;
  border-bottom: 22px solid #000000;
}

.to-cart:hover {
  background-color: #f0975c;
}

.to-cart:hover:before {
  border-bottom-color: #f0975c;
  border-left-color: #f0975c;
}

.to-cart:hover:after {
  border-bottom-color: #f0975c;
  border-right-color: #f0975c;
}
/*# sourceMappingURL=style.css.map */